<div class="container">
  <div class="row container mt-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">StarWars</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="views/list_starships"
                >StarShips</a
              >
              <!-- <i class="fad fa-paper-plane"></i> -->
            </li>
            <li>
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="views/list_people"
                >People</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="views/films"
                >Films</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="views/vehicles"
                >Vehicles</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="views/planets"
                >Planets</a
              >
            </li>
          </ul>

          <nav class="navbar navbar-light bg-dark">
            <form class="container-fluid justify-content-start">
              <button
                class="btn btn-outline-warning me-2"
                type="button"
                routerLink="/auth/login"
              >
                Login
              </button>
              <button
                class="btn btn-outline-success me-2"
                type="button"
                routerLink="/auth/register"
              >
                SigUp
              </button>
              <button
                class="btn btn-outline-light me-2"
                type="button"
                (click)="logout()"
              >
                Logout
              </button>
            </form>
          </nav>
        </div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
