<div class="container mb-5 p-5">
  <h2 class="text-warning">Starships</h2>
  <table class="table">
    <thead class="table__head">
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Passengers</th>
        <th>Crew</th>
        <th>Consumables</th>
        <th>Go StarShip</th>
      </tr>
    </thead>
    <tbody class="table__body text-warning">
      <tr *ngFor="let star of starship">
        <td>{{ star.name }}</td>
        <td>{{ star.model }}</td>
        <td>{{ star.manufacturer }}</td>
        <td>{{ star.crew }}</td>
        <td>{{ star.length }}</td>
        <td>{{ star.consumables }}</td>
        <td>
          <button
            class="btn btn-outline-warning me-2"
            type="button"
            routerLink="/views/star-ship"
          >
            go Starship
          </button>
        </td>
      </tr>
      <!-- <section class="list_starship" infiniteScroll(scrolled)="onScrollDown()"> -->
      <button
        class="btn btn-outline"
        *ngIf="showButton"
        (click)="onScrollTop()"
      >
        More
      </button>
      <!-- </section> -->
    </tbody>
  </table>
</div>
