<div class="container mb-5 p-5">
  <h2 class="text-warning">Planets</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rotation_period</th>
        <th scope="col">Orbital_period</th>
        <th scope="col">Diameter</th>
        <th scope="col">Climate</th>
        <th scope="col">Gravity</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-light text-warning">
      <tr>
        <td>A New Hope</td>
        <td>23</td>
        <td>304</td>
        <td>10465</td>
        <td>arid</td>
        <td>1 standard</td>
      </tr>
    </tbody>
  </table>
</div>
