<div class="container mb-5 p-5">
  <h2 class="text-warning">Vehicles</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Model</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Crew</th>
        <th scope="col">Passengers</th>
        <th scope="col">Vehicle_class</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-light text-warning">
      <tr>
        <td>Sand Crawler</td>
        <td>Digger Crawler</td>
        <td>Corellia Mining Corporation</td>
        <td>46</td>
        <td>30</td>
        <td>1 wheeled</td>
      </tr>
    </tbody>
  </table>
</div>
