<div class="container mb-5 p-5">
  <h2 class="text-warning">Films</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Episode_id</th>
        <th scope="col">Opening_crawl</th>
        <th scope="col">Director</th>
        <th scope="col">Producer</th>
        <th scope="col">Release_date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-light text-warning">
      <tr>
        <td>A New Hope</td>
        <td>4</td>
        <td>
          It is a period of civil war.\r\nRebel spaceships, striking\r\nfrom a
          hidden base, have won\r\ntheir first victory against\r\nthe evil
          Galactic Empire.\r\n\r\nDuring the battle, Rebel\r\nspies managed to
          steal secret\r\nplans to the Empire's\r\nultimate weapon, the
          DEATH\r\nSTAR, an armored space\r\nstation with enough power\r\nto
          destroy an entire planet.\r\n\r\nPursued by the Empire's\r\nsinister
          agents, Princess\r\nLeia races home aboard her\r\nstarship, custodian
          of the\r\nstolen plans that can save her\r\npeople and
          restore\r\nfreedom to the galaxy....",
        </td>
        <td>George Lucas</td>
        <td>Gary Kurtz, Rick McCallum</td>
        <td>1977-05-25</td>
      </tr>
    </tbody>
  </table>
</div>
